@import '../Assets/CSS/global_variables.css';

/* Animations */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* GENERAL */
body {
    background-size: cover;
    background: var(--color-background);
    color: var(--color-grey);
    font-family: var(--font-primary);
    font-weight: var(--font-regular);

    line-height: 1.5rem;
    padding: 0;
}

#wrapper {
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}

/* HEADER STYLES */
header.header {
    background: none;
    margin: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    
    position: absolute;
}

.header--container {
    max-width: 1320px;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
    margin: 0 auto 0 auto;
}

.header--row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem .5rem 0 .5rem;
}

.header--col, .subfooter--col {
    margin-top: .5rem;
    padding: 0 .5rem 0 .5rem;
    max-width: 100%;
    width: 100%;

    flex: 0 0 auto;
}

.header--col--inner, .subfooter--col__inner {
    display: flex;
    justify-content: space-between;
}

/* Left column with search input box */
.header--col--inner__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-light {
    color: var(--color-white);
}

.header--input #quick-search {
    background: var(--input-box);
    border: none;
    border-radius: 30px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 15px;
    margin-left: 30px;
    padding: 4px 11px;
    outline: none;
    width: 120%;
}

/* Right column with menu selection */
.header--col--inner__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu selection */
#header-main-menu {
    font-weight: 600;
    font-size: var(--font-medium);
    margin: 0 auto;
    float: none;
    padding-left: 2rem;
}

.menu-item {
    margin: 0;
    padding: 0;

    display: inline;
    list-style: none;
    position: relative;
}

.menu-item a {
    position: relative;
    display: inline-block;
    padding: 30px 18px;
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
    outline: none;
    padding-right: 0;
    font-weight: var(--font-title);
}

.menu-item a span {
    transition: .7s;
    outline: none;
    position: relative;
    width: 0%;
    color: var(--color-white);
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 14px;
    border-bottom: solid 2px var(--color-primary);
}

.menu-item:hover a span {
    width: 100%;
}

/*  Connect wallet button */
.menu_side {
    margin-left: 20px;
}

.menu_side .btn_main {
    background: var(--primary-gradient);
    border-radius: 30px;
    border: none;
    color: var(--color-white);
    font-size: 14px;
    font-weight: var(--font-title);
    padding: 6px 20px;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

/* CONTENT SECTION */
#content {
    padding: 90px 0;
    width: 100%;
    
    z-index: 9;
}

#section-hero {
    padding: 90px 0;
    margin-bottom: 0;
    position: relative;
}

/* Shared styles */
.hero--container, .coins--container, .text--container, .footer--container, .subfooter--container {
    max-width: 1320px;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

/* Shared styles */
.hero--row, .coins--row, .text--row, .footer--row, .subfooter-row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: calc(var(--gutter-y) * -1);
    margin-right: calc(var(--gutter-x) * -.5);
    margin-left: calc(var(--gutter-x) * -.5);
}

.hero--row__inner {
    box-sizing: border-box;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
    width: 100%;
    
    flex: 0 0 auto;
}

/* Images carousel (future implementation) */
.carousel {
    position: relative;
    display: flex;
    align-items: center;
}

#item-carousel {
    display: block;
    background-size: cover;
    visibility: visible;
    margin-top: -5px;
    bottom: -5px;
    margin-bottom: -15px;

    position: relative;
    animation-name: fadeIn;
}

.carousel__inner {
    overflow: hidden;
    outline: none;
    transition: .7s;

    position: relative;

    -webkit-transform: translate3d(0px, 0px, 0px);
}

.carousel__inner--images--container {
    width: 7238px;
    background-size: cover;
    outline: none;
    
    position: relative;

    transition: all 0s ease 0s;
}

/* NFT pics */
.active--image {
    width: 638px;
    margin-right: 20px;
    background-size: cover;
    user-select: none;
    margin-bottom: 15px;
    position: relative;
    min-height: 1px;
    float: left;
    transition: .7s;
    outline: none;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.nft--pic {
    background: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    
    position: relative;
}

/* Big image */
.nft--pic__info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 1;
    font-size: 28px;
    color: var(--color-white);
}

.nft--pic__info span:first-of-type {
    display: block;
    font-weight: bold;
}

.nft--pic__info span:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
}

.nft--pic__wrap {
    transition: .7s;
    outline: none;
}

.nft--pic__wrap img, .nft--pic__grid img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Grid images */
.nft--pic__grid {
    margin: 0 10px 10px 0;
    border-radius: 8px;
    width: calc(50% - 10px);
    overflow: hidden;
    
    float: left;
    position: relative;
}

.nft--pic__grid--title {
    position: absolute;
    margin: 20px;
    font-weight: bold;
    
    display: block;
    z-index: 1;
}

.nft--pic__grid--title h4 {
    font-size: 18px;
    color: var(--color-white);
    margin: 0;
}

.nft--pic__grid--title span {
    color: var(--color-white);
}

/* Arrows */
.arrow--left, .arrow--right {
    background-color: var(--color-white);
    background-size: cover;
    opacity: 0;
    cursor: pointer;
    height: 60px;
    width: 30px;
    margin-top: -10px;

    display: block;
    z-index: 100;
    position: absolute;

    transition: .7s;
    outline: none;
}

.arrow--left {
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    left: 0;
}

.arrow--right {
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    right: 0;
}

.arrow--left__icon, .arrow--right__icon {
    position: absolute;
    top: 20px;
    color: #111111;
}

.carousel:hover .arrow--left {
    opacity: 1;
}

.carousel:hover .arrow--right {
    opacity: 1;
}

/* Crypto section */
#coins {
    padding: 90px 0;
    position: relative;
}

.coins--col {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 30px;
    margin-top: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    
    flex: 0 0 auto;
    width: 16.6%;
}

.box--url {
    background: var(--primary-gradient);
    border: none;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    position: relative;
    display: block;
    
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 30%);
}

.box--url__inner {
    background: var(--color-background-secondary);
    transition: .7s;
    outline: none;
    border-radius: 20px;
    padding: 2rem 0;
}

/* Zoom in on hover and erase the dark background */
.box--url:hover .box--url__inner {
    transform: scale(1.2);
    background: transparent;
}

.box--url__inner img {
    margin-bottom: 20px;
    vertical-align: middle;
    transition: .7s;
    outline: none;

    max-width: 84px;
    height: 84px;
}

.box--url__inner h4 {
    font-size: 16px;
    margin: 0;
    color: var(--color-white);
    font-weight: var(--font-title);
    line-height: 1.2;
}

/* TEXT SECTION */
#section-text {
    padding: 0 0 90px 0;
    position: relative;
}

/* Title text section */
.text--col {
    flex: 0 0 auto;
    width: 100%;
}

.text--col__center {
    text-align: center;
}

.text--col__center h2 {
    font-size: 32px;
    color: var(--color-white);

    display: inline-block;
    overflow: hidden;
    position: relative;

    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 46px;
}

.small--border {
    color: var(--color-secondary);
    border-color: var(--color-primary);
    background: var(--primary-gradient);

    width: 50px;
    height: 3px;
    border-left: none;
    border-right: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Text blocks */
.text--block {
    flex: 0 0 auto;
    width: 30%;

    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

.text--block__box {
    background: var(--color-background-secondary);
    border-radius: 6px;
    padding: 50px;
    position: relative;
    overflow: hidden;

    transition: .7s;
    outline: none;
}

.icon-wallet, .icon-public, .icon-money {
    border-radius: 5px;
    background: var(--primary-gradient);
    color: #ffffff;
    font-size: 28px !important;

    width: 56px;
    padding: 14px 0;
    margin-bottom: 20px;
    text-align: center;
    visibility: visible;

    animation-name: fadeInUp;
}

.text--block__box--content h4{
    color: var(--color-white);
    font-size: 20px;
    font-weight: var(--font-title);
    margin-top: 0;
    margin-bottom: 10px;
    
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.text--block__box--content p {    
    margin-top: 0;
    margin-bottom: 10px;

    visibility: visible;
    animation-name: fadeInUp;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.material-icons.icon-wallet__big, .material-icons.icon-public__big, .material-icons.icon-money__big {
    position: absolute;
    font-size: 240px !important;
    background: none;
    width: auto;
    height: auto;
    color: var(--color-primary);
    opacity: .5;
    top: 30%;
    right: 0;

    transition: .7s;
    outline: none;
}

.text--block__box:hover .text--block__box--content p {
    color: var(--color-white);
}

.text--block__box:hover .material-icons.icon-wallet__big {
    transform: rotate(-25deg);
    transition: 2s ease;
    outline: none;
}

.text--block__box:hover .material-icons.icon-money__big {
    transform: rotate(-25deg);
    transition: 2s ease;
    outline: none;
}

.text--block__box:hover .material-icons.icon-public__big {
    transform: rotate(-25deg);
    transition: 2s ease;
    outline: none;
}

/* FOOTER */
footer {
    background-color: var(--color-background-secondary);
    color: var(--color-grey);
    padding: 80px 0 0 0;
}

.footer--col {
    flex: 0 0 auto;
    width: 23%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

.footer--col__content {
    margin-bottom: 0;
    border: none;
    padding-bottom: 30px;
}

.footer--col__content h5 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: var(--font-title);
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: none;
}

.footer--col__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer--col__content ul li {
    margin: 5px 0;
}

.footer--col__content ul li a {
    color: var(--color-grey);
    font-weight: var(--font-regular);
    text-decoration: none !important;
    outline: 0;
}

.footer--col__content form {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--gutter-y) * -1);
    margin-right: calc(var(--gutter-x) * -.5);
    margin-left: calc(var(--gutter-x) * -.5);
}

.newsletter {
    flex: 1 0 0%;
    text-align: center !important;

    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

.newsletter input {
    background: rgba(255, 255, 255, .1);
    border-radius: 30px 0 0 30px;
    border: none;
    border-right: none;
    box-shadow: 2px 2px 20px 0px rgb(20 20 20 / 5%);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: var(--font-regular);
    line-height: 1.5;
    padding: 7px 12px 7px 12px;
    width: 70%;

    display: table-cell;
    float: left;
}

#subscribe-btn .subscribe--wrapper {
    background: var(--primary-gradient);
    border-radius: 0 30px 30px 0;

    text-align: center;
    font-size: 28px;
    float: left;
    width: 20%;
    color: var(--color-white);
    display: table-cell;
    padding: 5px 0 5px 0;
}

/*  SUBFOOTER */
.subfooter {
    border-top: solid 1px rgba(255, 255, 255, .1);
    margin-top: 40px;
    padding: 20px 0 20px 0;
}

.subfooter--copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subfooter--copyright span {
    color: var(--color-grey);
    text-decoration: none;

    display: flex;
    align-items: center;
}

.subfooter--copyright span.material-icons {
    padding: 0 .5rem;
}

.subfooter--social, .subfooter--social__wrapper {
    display: flex;
    flex-direction: row;
}

.subfooter--social__wrapper a {
    text-decoration: none;
}

.subfooter--social__wrapper a span.material-icons.md-light {
    background: var(--color-background);
    border-radius: 5px;
    color: var(--color-white);
    font-size: 24px;
    padding: 12px 10px 12px 10px;
    margin: 0 3px 0 3px;
    height: 32px;
    width: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}