:root {
    /* Fonts */
    font-size: 16px;

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
    --font-title: 800;
    --font-subtitle: 700;
    --font-regular: 400;
    --font-light: 200;
    /* Based on the :root font-size 16px */
    --font-xlarge: 2rem;
    --font-large: 1.75rem;
    --font-medium: .875rem;
    --font-small: .75rem; 
    --font-xsmall: .5rem;
 
    /* Spacers */
    --gutter-x: 1.5rem;
    --gutter-y: 1.5rem;
    --space-sm: .875rem;
    --space-md: 1.5rem;
    --space-lg: 2.5rem;
    
    /* Colors */
    --color-primary: #FF5ACD;
    --color-secondary: #FBDA61;
    --color-background: #fafafa;
    --color-background-secondary: #e9e9e9;
    --color-white: #1a1a25;
    --color-grey: #242435;
    --input-box: rgba(40, 40, 40, 0.2);
    --primary-gradient: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 100%);
}

/* Dark theme / Light theme implementation depending on settings of the user */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF5ACD;
        --color-secondary: #FBDA61;
        --color-background: #1a1a25;
        --color-background-secondary: #242435;
        --color-white: #fafafa;
        --color-grey: #a2a2a2;
        --input-box: rgba(255, 255, 255, 0.2);
        --primary-gradient: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    }
}

/* Responsiveness */
/* IPAD */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    :root { font-size: 14px; }
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 768px) 
and (orientation : portrait) {
    :root { font-size: 14px; }
}

/* IPHONE XR */
@media only screen
and (min-device-width : 896px) 
and (max-device-width : 414px) 
and (orientation : landscape) {
    :root { font-size: 12px; }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 896px) 
and (orientation : portrait) {
    :root { font-size: 12px; }
}
